extends layout
block content 
  //h3 Welcome 
  // IMAGE DISPLAY
  .images
    .image-container.fade1
      img(src='muenster-schloss.jpg' width='32' height='32')
      p(style='margin:10px;')
        | &copy;
        a.link-sucess(href='https://www.muensterland.com/tourismus/themen/erlebnis-region-muensterland/burgen-und-schloesser-im-muensterland/schloss-muenster/')
          | M&uuml;nsterland e.V.
  br
  br
  // START BUTTON
  .d-grid.gap-2.col-6.mx-auto
    a.btn.btn-outline-success(style='background-color:black;' href='http://localhost:3000/tour' role='button') Los geht&apos;s!
  br
  br
  block scripts
      // JAVASCRIPTS
      script(src=' /javascripts/1_1_tour_add.js', defer='')

