extends layout
block content 

  //- IMAGE DISPLAY
  .images
    .image-container.fade1
      img(src='/stylesheets/muenster-schloss.jpg' width='80' height='80')
      p(style='margin:10px;')
        | &copy;
        a.link-sucess(href='https://commons.wikimedia.org/w/index.php?curid=35094633')
          | Dietmar Rabich, CC BY-SA 4.0
  br
  br
  //- START BUTTON
  .d-grid.gap-2.col-6.mx-auto
    a.btn.btn-outline-success(style='background-color:black;' href='/tour' role='button') Los geht&apos;s!
  br
  br
  block scripts
      //- JAVASCRIPTS
      script(src=' /javascripts/1_1_tour_add.js', defer='')

