extends layout
block content 
 
  //- HEADING
  br
  h3.text-center Tour oder Sehensw&uuml;rdigkeit hinzuf&uuml;gen
  br
  //- FLEX CONTAINER
  .row
    .col-lg
      //- TEXTAREA ADD VIA MAP
      #textfeld
        h5.text-left LEAFLET UPLOAD
        p.text-left
          | Eine Sehensw&uuml;rdigkeit zu einer bestehenden Tour hinzuf&uuml;gen oder eine neue Tour erstellen
        //- FORM SELECT TO CHOOSE OPTION
        select#choose1.form-select.form-select-lg.mb-3(aria-label='form-select1' style='background-color: black; color: mediumseagreen; font-size: 16px;')
          option(selected='') Bitte w&auml;hlen
          option(value='Sehenswürdigkeit zu Tour ergänzen') Sehensw&uuml;rdigkeit zu Tour erg&auml;nzen
          option(value='Neue Tour erstellen') Neue Tour erstellen
        //- MAP DISPLAY
        form#input-map(name='input-map' action='/tour/add/add/details' method='post')
          .p2.flex-fill.bd-highlight
            #karte
            a.btn.btn-outline-success(style='background-color: black;' type='submit' onclick="document.getElementById('input-map').submit();") Absenden
    .col-sm
      //- TEXTAREA ADD VIA FORM
      #textfeld
        h5.text-left FORMULAR UPLOAD
        p.text-left
          | Eine Sehensw&uuml;rdigkeit zu einer bestehenden Tour hinzuf&uuml;gen oder eine neue Tour erstellen
        //- FORM SELECT TO CHOOSE OPTION
        select#choose2.form-select.form-select-lg.mb-3(name='choose' aria-label='form-select1' style='background-color: black; color: mediumseagreen; font-size: 16px;')
          option(selected='') Bitte w&auml;hlen
          option(value='0') Sehensw&uuml;rdigkeit zu Tour erg&auml;nzen
          option(value='1') Neue Tour erstellen
        //- UPLOAD FORM
        form#input-form(name='input-form' action='/tour/add/add/success/formular' method="post")
          .mb-3
            label.form-label(for='name') Name
            input#input1.form-control(type='text' name='name' class='input-box')          
          .mb-3
            label.form-label(for='coordinates') Koordinaten
            input#input3.form-control(type='text' name='coordinates' class='input-box')
          .mb-3
            label.form-label(for='url') URL*
            input#input3.form-control(type='text' name='url' class='input-box' placeholder='Wikipedia URL einfügen')
          .mb-3
            label.form-label(for='description') Beschreibung*
            input#input3.form-control(type='text' name='description' class='input-box' placeholder='Ergänze nützliche Details')
            #note.form-text *optional
          .mb-3.form-check
            input#exampleCheck1.form-check-input(type='checkbox')
            label.form-check-label(for='checkbox') Alles richtig eingegeben?
          a.btn.btn-outline-success(style='background-color: black;' type='submit' form='input-form' onclick="document.getElementById('input-form').submit()") Absenden
          
    .col-sm
      //- TEXTAREA ADD VIA GEOJSON
      #textfeld
        h5.text-left GEOJSON UPLOAD
        p.text-left
          | Hier kannst du deine neue Route ins Textfeld eingeben oder per Upload hochladen. Es wird
          | eine neue Tour erstellt.
        //- UPLOAD BUTTON & INPUT FIELD
        form#inputGeojson(action='/tour/add/add/details' method='get')
          .form-group
            input#upload-button.form-control-file(type='file')
          br
          .form-group
            textarea#upload-form.form-control(form='inputGeojson' name='inputGeojson' rows='5' placeholder='Hier Geojson eingeben')
            br 
            button.btn.btn-outline-success( style='background-color: black;' type='submit') Absenden
            //- onclick="document.getElementById('inputGeojson').submit();"


            
  script.
  block scripts
      //- JAVASCRIPTS
      script(src=' /javascripts/1_1_tour_add.js', defer='')
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js', defer='')

//- 
          .mb-3
            label.form-label(for='geojson') Geojson
            input#input2.form-control(type='text' name='geojson' class='input-box' disabled='')