extends layout
block content
  //- HEADING
  br
  h3.text-center Bitte spezifiziere deine Eingabe.
  br
  //- FORM IN FLEX CONTAINER
  #raster
    .d-flex.justify-content-center
      form#details(name='details' action='/tour/add/add/details/success/'+data method='post')
        .form-group
          label(for='name') Name
          input#name.form-control(type='text' placeholder='Name' name="name")
        .form-group
          label(for='url') URL
          input#url.form-control(type='url' placeholder='URL' name="url")
        .form-group
          label(for='desciption') Beschreibung
          input#description.form-control(type='text' placeholder='Beschreibung' name="beschreibung")
        br
        a.btn.btn-outline-success(style='background-color: black;' type='submit' form='details' onclick="document.getElementById('details').submit()") Absenden
  br

//- onclick="document.getElementById('details').submit();"  method='PUT'