extends layout
block content

  //- HEADING
  br
  h3.text-center Erfolgreich gel&ouml;scht.
  br
  #textfeld
    p.text-center
      | Deine Daten wurden an die Datenbank &uuml;bermittelt. Die Tour bzw. Sehensw&uuml;rdigkeit ist nun nicht mehr vorhanden.
    .d-flex.justify-content-center
      a.btn.btn-outline-success(href='http://localhost:3000/tour' style='background-color:black;') Zu den Touren
