extends layout 
block content

  //- HEADING
  br
  h3.text-center Erfolgreich abgesendet.
  br
  #textfeld
    p.text-center
      | Deine Daten wurden an die Datenbank &uuml;bermittelt. Auf der Touren-Seite kannst du das Ergebnis betrachten.
    .d-flex.justify-content-center
      a.btn.btn-outline-success(href='/tour' style='background-color:black;') Zu den Touren
