extends layout
block content
  //- HEADING
  br
  h3.text-center Bitte spezifiziere deine Eingabe.
  br
  //- FORM IN FLEX CONTAINER
  #raster
    .d-flex.justify-content-center
      form#details(name='details')
        .form-group
          label(for='name') Name
          input#name.form-control(type='text' placeholder='Name' value="name")
        .form-group
          label(for='url') URL
          input#url.form-control(type='url' placeholder='URL' value="url")
        .form-group
          label(for='desciption') Beschreibung
          input#description.form-control(type='text' placeholder='Beschreibung' value="beschreibung")
        br
        a.btn.btn-outline-success(style='background-color: black;' href='/tour/edit/edit/succed/'+objectID) Absenden
  br

//- onclick="document.getElementById('details').submit();"  method='PUT'
//- action='/tour/add/add/details/success'