extends layout
block content

  //- HEADING
  br
  h3.text-center Touren und Sehensw&uuml;rdigkeiten bearbeiten
  br
  //- TEXTAREA
  #textfeld
    p.text-center
      | Dir ist ein Fehler in einer Tour oder bei einer Sehensw&uuml;rdigkeit aufgefallen oder du m&ouml;chtest
      | eine alte Information l&ouml;schen? 
      br
      |  Dann hilf uns gerne weiter, das Angebot so aktuell wie m&ouml;glich zu halten.
  //- TOUR & SIGHT DISPLAY (LIST)
  .container
    form#edit(name='edit' action='edit.js' method='POST')
      .row
        .col-sm
          #textfeld
            h5.text-left TOUREN
            //- LIST
            //- Alle Elemente der Datenbank abbilden!!
            div(role='tabpanel')
              #myList.list-group(role='tablist')
                each tour in touren 
                  a.list-group-item.list-group-item-action(data-bs-toggle='list' href='#home' role='tab' onclick='getElement("'+ tour.features[0].properties.Name + '")')
                    list=tour.features[0].properties.Name
              br
            //- TOOL BUTTONS
            //- irgendwas mit Submit ergänzen, um selected zu verwenden
            a.btn.btn-outline-success(style='background-color:black; margin-right:10px' href='/tour/edit/edit/'+toEdit role='button') Bearbeiten
            a.btn.btn-outline-success(style='background-color:black;' href='/tour/edit/edit/delete' role='button') L&ouml;schen
        .col-sm
          #textfeld
            h5.text-left Sehenswürdigkeiten
            div(role='tabpanel')
              #myList.list-group(role='tablist')
                each tour in touren 
                  each element in tour.features
                    a.list-group-item.list-group-item-action(data-bs-toggle='list' href='#home' role='tab' onclick='getElement("'+ element.properties.Name + '")')
                      list=element.properties.Name
  
              br
            //- TOOL BUTTONS
            a.btn.btn-outline-success(style='background-color:black; margin-right:10px' role='button' onclick='test()') Bearbeiten
            a.btn.btn-outline-success(style='background-color:black;' role='button' action='/edit/edit/delete/'+toEdit method='POST' type='submit') L&ouml;schen

  //- JAVASCIPTS
  script(src='/javascripts/1_3_tour_edit.js', defer)
