extends layout
block content
  //- HEADING
  br
  h3.text-center Interaktive, digitale Stadtf&uuml;hrungen in M&uuml;nster
  br
  //- MAP DISPLAY (in einem Flex Container mit Text & Drowpdown)
  //- irgendwie nicht in einer row und flex-wrap klappt nicht??
  .row
    .col-md
      #map
    //- "CHOOSE TOUR" TEXT AREA
    #column.col-md
      #textfeld
        p.text-left W&auml;hle eine Tour!
        //- DROWPDOWN BAR
        .dropdown
          button#dropdownMenuButton1.btn.btn-outline-success.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false' style='background-color:black;')
            | Tour w&auml;hlen
          ul.dropdown-menu(aria-labelledby='dropdownMenuButton1')
            each tour in tours 
              a.dropdown-item(href="routes/1_0_tour_route" + tour._id)
                li= tour.features[0].properties.Name

      //- ÖPNV TEXT AREA
      #textfeld
        p.text-left Umweltbewusst unterwegs?
        //- ÖPNV ANZEIGEN BUTTON
        //- irgendwie ist der Button ein paar cm weiter rechts?!
        input.btn.btn-outline-success(type='button' value='ÖPNV anzeigen' onclick='oepnv()' style='background-color:black; margin: 10px;')
      //- "ADD SOMETHING?" TEXT AREA
      #textfeld
        p.text-left Deinen Lieblingsspot erg&auml;nzen?
        //- SECOND BUTTON
        a.btn.btn-outline-success(href='http://localhost:3000/tour/add' style='background-color:black;') Erg&auml;nzen
  //- INFORMATIONSTEXT
  br
  .row
    .col-md-auto
      h4.text-left(style='margin-left: 10px;') Informationen zur gew&auml;hlten Tour

    #text    
      p.
      each tour in tours 
        li= tour.features[0].properties.Beschreibung
  //- ändern, dass nur Beschreibung für selected angezeigt wird


  block scripts
  //- JAVASCIPTS
  script(src='/javascripts/1_tour.js', defer)
  script(src='/javascripts/oepnv.js', defer)