extends layout
block content

  //- CONTACT DISPLAY
  .container
    .row
      .col-md-6
        .card(style='width: 18rem; margin-top: 30px; margin-bottom: 30px;')
          img.card-img-top(src='../public/stylesheets/Henning.jpg')
          .card-body
            h5.card-title Henning Sander
            p.card-text Hi! Ich bin Henning ...
            a.btn.btn-outline-success(href='mailto:henning.sander@uni-muenster.de' style='background-color:black;') Kontaktiere mich!
      .col-md-6
        .card(style='width: 18rem; margin-top: 30px; margin-bottom: 30px;')
          img.card-img-top(src='/stylesheets/Antonia.JPG')
          .card-body
            h5.card-title Antonia Jost
            p.card-text
              | Hallo! Ich bin Antonia und studiere im 4. Semester Geographie mit dem Nebenfach Geoinformatik. Ich liebe es zu g&auml;rtnern und drau&szlig;en unterwegs zu sein.
            a.btn.btn-outline-success(href='mailto:antonia.jost@uni.muenster.de' style='background-color:black;') Kontaktiere mich!
