extends layout 
block content

    //- HEADING
    br
    h3.text-center Suchergebnis für:
       br 
       br
       ul= query
    br
    #searchBar
        //- SUCHAUSGABE 
        br 
        br
        #result
        .row
            .col-md-auto
                each test in output
                    li= output

    block scripts
    //- JAVASCIPTS
    script(src='/javascripts/3_search.js', defer)
