extends layout 
block content

    //- HEADING
    br
    h3.text-center Suche
    br
    #searchBar
        //- SUCHAUSGABE 
        br 
        br
        #result
        .row
            .col-md-auto
                h4.text-left Results
                each test in output
                    li= output


    //- evtl. noch notwendig???? (eher nicht)

    script.     
        var searchOutput = !{JSON.stringify(findOne)}
        console.log(searchOutput)

    block scripts
    //- JAVASCIPTS
    script(src='/javascripts/3_search.js', defer)
