/* nur für Test*/
.title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Layout für Startseite*/
.images {
    display: flex;
    justify-content: space-around;
}

.image-container {
    height: auto;
    width: 100%;
    border: 3px solid mediumseagreen;
    position: relative;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.transition-image {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.transition-image:hover {
    opacity: 1;
}

.fade::after {
    content: "Willkommen in Münster!";
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacitiy 0.5s ease;
}

.fade:hover::after {
    opacity: 0.5;
}

/*Map Layout - Seite 1_tour*/
#map {
    height: 85vh;;
    max-width: 60%;
    padding: 0px;
    margin: 10px;
    align-items: left;
}