<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Stadtführung Münster</title>

    </head>

    <body>
        <h1 class="title">image transition</h1>
         <!-- IMAGE DISPLAY -->
    <div class="images">
        <div class="image-container fade">
          <img src="./muenster-schloss.jpg" alt="">
        </div>
      </div>

      <a class="btn btn-primary" href="./1_tour.html" role="button">Los geht's!</a>
    </body>
